body {
    font-family: sans-serif;
}

#cart {
    width: 70%;
    margin: 10px auto;
    
}
#cart h2{

    font-size: 20px;
}
#menu{

    padding:10px 60px;

    width: 60%;
    margin: 40px auto;
    margin-bottom: 0px;
    background-color: rgb(55, 55, 97);
    color:gainsboro;
}
#menu span{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
   
    padding-bottom: 0px;

}
.cart-item {
    display: flex;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid gray;
   
}
.spec {
    position: relative;
    width: 200px;
    padding-left: 20px;
    font-size: 20px;
}
.spec:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spec:nth-last-child(1) {
    margin-left: auto;
}
.spec img{
    border: 1px solid gray;
    width: 150px;
    height: 150px;
}
.spec img.sticker {
    position: absolute;
    width: 25%;
    height: inherit;
    border: 0;
}
.spec.T-Shirt img.sticker {
    padding-bottom: 30px;
}
.spec.Mug img.sticker {
    padding-right: 30px;
}
.spec .sticker-text {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}
.spec.Mug .sticker-text {
    width: 110px;
    margin-right: 30px;
    text-align: center;
}
.spec.T-Shirt .sticker-text {
    padding-bottom: 50px;
}
.spec button{
    position: relative;
    right: 295px;
    bottom: 19px;

    font-size: 25px;
    color: rgb(55, 55, 97);
    padding: 0px;
}
.spec button:hover{
    color:rgb(231, 72, 197);
    background-color: gainsboro;
}
#quan {
    width: 50px;
}
.total {
    background-color:gainsboro;
    color:rgb(231, 72, 197);
    padding: 10px;
    font-weight: 800;
}
.span{
    padding-left: 240px !important;
}