@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
* {
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Chakra Petch', sans-serif;
	color:  rgb(55, 55, 97);
}
main >img {
	max-width: 100%;
}

main {
	font-family: sans-serif;
	font-size: 18px;
}
.row {
  display: flex;
  padding: 60px 0px;
  margin: auto;
  width: 80%;
}


main >button {
  background: 0;
	border: solid 2px black;
	border-radius: 5px;
	padding: 7.5px 10px;
	font-weight: bold;
}

.page-name{
    font-family: 'Chakra Petch', sans-serif;
	font-size:25px;
	font-weight: 600;
	color: rgb(55, 55, 97);
	background-color: gainsboro;
	padding: 15px 70px;


}
button{
	font-family: 'Chakra Petch', sans-serif;
}
.btn {
  background-color: rgb(231, 72, 197);
  color: whitesmoke;
  border: 0;
  padding: 10px 20px ;
  font-size: 24px;
  border-radius: 10px;
}

a {
  text-decoration: none;
	color: orange;
	font-weight: bold;
}



/* CATEGORIES PAGE */

#cats {
  display: flex;
	flex-wrap: wrap;
}

#cats .cat {
  width: 25%;
	text-align: center;
}

#cats .cat a {
  display: block;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 10px;
	padding: 16px;
	transition: .3s;
}

#cats .cat a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#cats .cat img {
	height: 200px;
}

#cats .cat p {
  margin-top: 10px;
	color: black;
}


/* SHIRT PAGE */

#item {
	position: relative;
	justify-content: center;
	align-items: center;
  display: flex;
  flex:2;
}
#buttons {
  flex: 1;
  padding-top: 30px;
}
.details {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: solid gray 1px;
}
.details:nth-last-child(1) {
  border-bottom: 0;
}

#item-upperbody {
	background-image: url(../images/tshirt.png);
	
	height: 500px;
	width: 500px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

#item-shirtlogo {
	width: 170px;
	position: absolute;
	z-index: 2;
	top: 97px;
}

#item-text {
	position: absolute;
	top: 150px;
	z-index: 2;
	font-size: 32px;
	font-weight: bold;
}


/* MIG PAGE */

#mugpic {
	background-image: url(../images/hyy.png);
	height: 500px;
	width: 500px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

#item-muglogo {
	width: 170px;
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 198px;
}
#item-textm {
    width: 322px;
    position: absolute;
    top: 200px;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
	left: 117px;
	text-align: center;
}

/* Buttons colors */

.color-btn {
 
  border: 0;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(55, 55, 97);
  border-radius: 50%;
}

#black {
	background-color: black;
}

	
#gray {
	background-color: gray;
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#lightblue {
	background-color: lightblue;
}

#purple {
	background-color: purple;
}

#yellow {
	background-color: yellow;
}

 .arrows{
	border-radius: 50%;
	font-size: 25px;
	margin:  0px 5px;
	border: none;
	color: rgb(55, 55, 97);
	position: relative;
	top: 4px;

}
.color-btn:hover{
	width: 28px;
	height: 28px;
	opacity: .8;
}

.arrows:hover{
	color:  rgb(231, 72, 197);
}
.details{
	padding-left: 19%;
	height: 30px;
	font-family: 'Chakra Petch', sans-serif;
}
.details h3{
	text-align: left;
	display: inline-block;
	font-size: 15px;
	font-weight: 900;
	
}
.details form{
	display: inline-block;
}
.change-btn{
	margin-left: 5px;
	font-family: 'Chakra Petch', sans-serif;
	border-radius: 5px;
	width:130px;
	height: 30px;
	color: rgb(55, 55, 97);
	font-weight: 700;
	box-shadow: 1px 1px rgb(231, 72, 197)

}
.change-btn:hover{
	background-color: rgb(55, 55, 97);
	color: gainsboro;
}
#size label{
	margin-left: 2px;
	margin-right: 15px;
}
.details span{
	font-size: x-large;
	font-weight: 900;
	color: rgb(231, 72, 197);
}

#custom-main{
	width: 55%;
	margin: 80px auto;
}
